In [1]:
import numpy as np

# Q1

In [2]:
#1a
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [ ]:
#1b
array_3D = np.random.rand(3,3)
print(array_3D)

In [ ]:
#1c
n= int(input('Enter the number for shape of the array: '))
x=np.ones((n,n))
print(x)

In [ ]:
#1d
arr1 = np.array(['bill', 'nick', 'snow', 'elsa', 'tim'])
arr2 = np.array(['ella', 'elsa', 'sam', 'tim', 'jill'])

common = np.intersect1d(arr1, arr2)
print('Common items between the two arrays are: ', common)

In [ ]:
#1e
ar = np.array([[0.31, 0.62], [0.035, 0.31], [0.37, 0.08]])
result = ar + ar**2 + 1/ar
result

# Q2

In [25]:
def Min():
    arr = int(input('Enter the size of 1D Array:')) 
    x = []
    y = []
    z = []

    for i in range(0, arr):
        print('Enter the element for index', i, 'of first list:')
        x.append(float(input()))
  
    for i in range(0, arr):
        print('Enter the element for index', i, 'of second list:')
        y.append(float(input()))

    for i in range(0, arr):
        print('Enter the element for index', i, 'of third list:')
        z.append(float(input()))

    a = min(x)
    b = min(y)
    c = min(z)
    result = [a, b, c]
    result.sort()

    return np.array(result)

In [ ]:
Min()

# Q3

In [27]:
import pandas as pd

data = pd.read_csv('C:\\Users\\Owner\\Downloads\\assignment3_data.csv')

In [28]:
#3a
data.shape

(33, 6)

In [33]:
#3b
last_col = data.iloc[:,-1].values
last_row = data.iloc[-1, :].values

print('Last column values:', last_col)
print('Last row values:', last_row)

Last column values: [17 16 12 14 18 19 15 15 13 11 16 14 15 18 18 15 18 14 11 19 19 15 18 19
 18 17 17 16 18 18 17 19 17]
Last row values: [ 8  6  1 17 17 17]

In [35]:
#3c
x = data.copy()
x[x < 5] = 0
x

    4  3  3.1  14  13  15
0   0  0    0  13  14  17
1   0  0    0  17  12  16
2   0  0    0  11  11  12
3   5  0    0  16  15  14
4   6  5    0  17  18  18
5   6  5    0  17  16  19
6   5  0    0  13  15  15
7   5  0    0  14  14  15
8   0  0    0  14  15  13
9   0  0    0  16  16  11
10  5  0    0  15  13  16
11  6  0    0  12  11  14
12  5  0    0  13  14  15
13  7  6    0  17  11  18
14  6  0    0  16  15  18
15  0  0    0  16  17  15
16  5  5    0  13  11  18
17  0  0    0  12  11  14
18  0  0    0  12  11  11
19  6  5    0  17  16  19
20  7  6    0  19  19  19
21  0  0    0  15  15  15
22  7  0    0  16  14  18
23  7  7    0  15  11  19
24  0  7    0  16  12  18
25  9  7    0  13  12  17
26  0  0    0  16  13  17
27  0  5    0  13  13  16
28  6  5    0  15  12  18
29  6  6    0  15  13  18
30  9  5    0  16  14  17
31  7  9    0  16  16  19
32  8  6    0  17  17  17

In [37]:
#3c

# Mean of columns
mean_cols = np.array(np.mean(data, axis = 0))
print('Mean of each column:', mean_cols)

# Sum of columns
sum_cols = np.array(np.sum(data, axis = 0))
print('Sum of each column:', sum_cols)

# Max of columns
max_cols = np.array(np.max(data, axis = 0))
print('Max of each column:', max_cols)

# Min of columns
min_cols = np.array(np.min(data, axis = 0))
print('Min of each column:', min_cols)

# Mean of rows
mean_rows = np.array(np.mean(data, axis = 1))
print('Mean of each row:', mean_rows)

# Sum of each rows
sum_rows = np.array(np.sum(data, axis = 1))
print('Sum of each row:', sum_rows)

# Max of rows
max_rows = np.array(np.max(data, axis = 1))
print('Max of each row:', max_rows)

# Min of rows
min_rows = np.array(np.min(data, axis = 1))
print('Min of each row:', min_rows)

Mean of each column: [ 5.33333333  4.39393939  2.15151515 14.93939394 13.84848485 16.24242424]
Sum of each column: [176 145  71 493 457 536]
Max of each column: [ 9  9  4 19 19 19]
Min of each column: [ 3  2  1 11 11 11]
Mean of each row: [ 9.16666667  8.83333333  6.66666667  9.16666667 11.33333333 11.16666667
  8.83333333  8.83333333  8.33333333  8.5         8.66666667  8.
  8.66666667 10.33333333 10.16666667  9.          9.33333333  7.5
  6.83333333 11.         12.33333333  9.         10.33333333 10.5
  9.66666667 10.16666667  9.          8.5         9.66666667 10.16666667
 10.5        11.83333333 11.        ]
Sum of each row: [55 53 40 55 68 67 53 53 50 51 52 48 52 62 61 54 56 45 41 66 74 54 62 63
 58 61 54 51 58 61 63 71 66]
Max of each row: [17 17 12 16 18 19 15 15 15 16 16 14 15 18 18 17 18 14 12 19 19 15 18 19
 18 17 17 16 18 18 17 19 17]
Min of each row: [3 1 1 2 4 4 1 1 2 2 1 2 1 3 2 1 4 1 1 3 4 2 3 4 1 3 1 1 2 3 2 4 1]

In [42]:
#3d

corr_coff = data.iloc[:,-2].corr(data.iloc[:,-1]).round(2)
print('Correlation coefficient of last two columns:', corr_coff)

Correlation coefficient of last two columns: 0.19

# Q4

In [46]:
a = np.array([[0.5,0.2],[0.33,0.24]])
b = np.array([[11,12],[13,14]])

# Dot product of two arrays
print('Dot product of two arrays: ', a.dot(b))
    
# Dot product of two vectors
print('Dot product of two vectors: ', a*b)

# Inner product of vectors
print('Inner product of two vectors: ', np.inner(a, b))

Dot product of two arrays:  [[8.1  8.8 ]
 [6.75 7.32]]
Dot product of two vectors:  [[5.5  2.4 ]
 [4.29 3.36]]
Inner product of two vectors:  [[7.9  9.3 ]
 [6.51 7.65]]